<!doctype html>
<html lang='es'>
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <style>
    #link {
      background-color: #0758C2;
      color: white;
      padding: 8px 16px 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 6px;
      border-color: #0758C2;
    }
  </style>
</head>
<body style="font-family: 'Inter';">
<h1>Bienvenid@ a Universae</h1>
<br>
<p>Hola, {{studentName}},</p>
<p>Antes de comenzar:</p>
<br>
<h3>1. Usuario y contraseña de acceso</h3>
<p>
  Estas son tus credenciales de acceso a UNIVERSAE360:
  <ul style="list-style-type: none;">
    <li><b>Usuario:</b> {{universaeEmail}}</li>
    <li><b>Contraseña:</b> {{password}}</li>
  </ul>
  <p><a id="link" href="https://360.universae.com"> Acceder a Universae360 </a></p>
  Para incidencias de acceso a UNIVERSAE360 escriba a: <a href="mailto:soporte360@universae.com">soporte360@universae.com</a>
</p>
<br>
<h3>2. Documentación de acceso - Matriculación</h3>
<p>
  Una vez hayas accedido a UNIVERSAE360, debe subir la siguiente documentación obligatoria:
  <ol style="list-style-type: decimal;">
    <li><b>DNI</b> por ambas caras</li>
    <li><b>Foto tamaño carnet</b></li>
    <li>
      <b>Documentación de acceso</b> (podrá facilitar algunos de los siguientes documentos):
      <br>
      <ul style= "list-style: lower-alpha inside;">
        <li>Certificado académico oficial (imprescindible para convalidar asignaturas)</li>
        <li>Título</li>
        <li>Certificado del Ministerio de Educación (tutorial para la descarga)</li>
      </ul>
    </li>
  </ol>
  Puede realizar el envío de esta documentación (apartado 3) por:
  <ul style="list-style-type: none;">
    <li><b>Apartado de matriculación:</b> Si tiene código QR, código de verificación (CSV) o está firmado digitalmente (certificado electrónico) puede subirlo al portal del estudiante.</li>
    <li>
      <b>Correo postal:</b> Si no dispone de lo anterior, deberá enviar el original o una fotocopia compulsada (en una notaría o en una administración pública) a la siguiente dirección:
      <ul style="list-style-type: none;">
        <li>Secretaria Docente {{businessUnitAddress}}</li>
      </ul>
    </li>
  </ul>
</p>
<br>
<h3>3. Convalidación de asignaturas</h3>
<p>Para solicitar CONVALIDACIÓN de asignaturas debe descargar la solicitud y aportar la documentación requerida en el apartado de MATRICULACIÓN, en la sección RECONOCIMIENTO ACADÉMICO en el campus UNIVERSAE360.</p>
<p><i>Dispone de un plazo máximo de 15 días tras el comienzo oficial del curso para solicitar la convalidación.</i></p>
<br>
<p>Para cualquier consulta o duda contacte con Secretaría al email</p>
<p><a href="mailto:{{businessUnitEmail}}">{{businessUnitEmail}}</a> o al teléfono +34 910 38 79 94</p>
</body>