<!doctype html>
<html lang='es'>

<head>
  <title>Bienvenid@ a Universae</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <style>
    body {
      font-family: Inter, Arial, Helvetica, sans-serif;
      background: #eff0f1;
      padding: 16px;
    }

    .content {
      background: white;
      padding: 24px;
      max-width: 670px;
      margin: 0 auto;
      color: black;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .cta-button {
      background-color: #0758C2;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 6px;
      border-color: #0758C2;
    }

    h3 {
      color: #0758C2;
    }

    strong {
      font-weight: 600;
    }
  </style>
</head>

<body>
  <div class="content">
    <h1 style="margin-bottom: 16px;">Bienvenid@ a Universae</h1>
    <p>Hola, {{studentName}},</p>
    <p>Antes de comenzar:</p>

    <!-- Sección de credenciales de acceso -->
    <h3>1. Acceder a <b>UNVERSAE360</b></h3>
    <p>Estas son tus credenciales:</p>
    <ul style="list-style-type: none;">
      <li><strong>Usuario:</strong> {{universaeEmail}}</li>
      <li><strong>Contraseña:</strong> {{password}}</li>
    </ul>
    <p><a class="cta-button" href="https://360.universae.com">Acceder a Universae360</a></p>
    <p>Para incidencias de acceso a UNIVERSAE360 escribe a: <a
        href="mailto:soporte360@universae.com">soporte360@universae.com</a>
    </p>
    </br>
    <!-- Sección de documentación de matriculación -->
    <h3>2. Subir documentación</h3>
    <p>Una vez hayas accedido a UNIVERSAE360, debes subir la siguiente documentación obligatoria en la sección de
      <b>matriculación</b>:
    </p>
    <ol style="list-style-type: decimal;">
      <li><strong>DNI</strong> por ambas caras</li>
      <li><strong>Foto tamaño carnet</strong></li>
      <li>
        <strong>Documentación de acceso</strong> (podrás facilitar algunos de los siguientes documentos):
        <ul>
          <li>Certificado académico oficial (imprescindible para convalidar asignaturas)</li>
          <li>Título</li>
          <li>Certificado del Ministerio de Educación <a class="link" target="_blank"
              href="https://acclusterproyctosedcatvssl.sharepoint.com/:b:/s/secretariaexterna/EUwhV_MmJx9Aq6Vt3ykUXsMBmAAwTUXbbpZamr2-fm4t7g?e=yU5NY0">tutorial
              para la descarga</a></li>
        </ul>
      </li>
    </ol>

    <!-- Opciones de envío de documentación -->
    <p>También, puedes realizar el envío de esta documentación por:</p>
    <ul>
      <li><strong>Apartado de matriculación:</strong> Si tienes código QR, código de verificación (CSV) o está firmado
        digitalmente (certificado electrónico) puedes subirlo al portal del estudiante.</li>
      <li>
        <strong>Correo postal:</strong> Si no dispones de lo anterior, deberás enviar el original o una fotocopia
        compulsada (en una notaría o en una administración pública) a la siguiente dirección:
        <ul style="list-style-type: none;">
          <li>Secretaria Docente {{businessUnitAddress}}</li>
        </ul>
      </li>
    </ul>

    <!-- Sección de convalidación de asignaturas -->
    <h3>3. Convalidación de asignaturas</h3>
    <p>Para solicitar <b>convalidación</b> de asignaturas debes descargar la solicitud y aportar la documentación
      requerida
      dentro del apartado de <b>matriculación</b>, en la sección <b>convalidaciones</b> del campus <b>UNIVERSAE360</b>.
    </p>
    <p><i>Dispones de un plazo máximo de 15 días tras el comienzo oficial del curso para solicitar la convalidación.</i>
    </p>

    <!-- Información de contacto -->
    <p>Para cualquier consulta o duda, contacta con Secretaría al email:</p>
    <p>
      <strong>
        <a href="mailto:{{businessUnitEmail}}">{{businessUnitEmail}}</a>
      </strong>
      o al teléfono <strong>
        <a href="tel:+34910387994">+34 910 38 79 94</a>
      </strong>
    </p>
  </div>
</body>

</html>